/* selector - propiedad - valor propiedad - declaracion */

* {
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}
body{

    background-color: rgb(226, 232, 240);
    font-family: 'PT Sans', sans-serif;
}

nav {
    background-color: aquamarine;
    margin: 0.5rem 0rem;
}

header {
    background-color: rgb(35, 213, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(58, 58, 58);
  }
  
select{
    height: 2rem;
    width: 60%;
    /*display: flex;*/
}

button {
    border-radius: 0.25rem;
    height: 2rem;
    padding: 0.5rem;
    background-color: rgb(35, 213, 226);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    color: white;
}
article {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid rgb(173, 203, 242);
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.516);
    height: 100%;
    width: 60%;
}

img {
    border-radius: 50px;
    height: 30px;
}

.ada-logo {
    height: 40px;
    width: auto;
}

.nav-link{
    display: inline-flex;
}
#group-members {
    background-color: hsla(132, 100%, 75%, 0.44);
    margin: 1rem 0rem;
}
#students {
    display: grid;
    gap: 50px;
}